/*@CHARSET "UTF-8";*/

@import url(https://fonts.googleapis.com/css?family=Merienda);

body, html{
  maring:0px;
  padding:0px;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0px;
	padding:0px;
}

h1{
	font-family: 'Merienda', cursive;
	font-size:24px;
	text-align:center;
}

h2{
	text-align: center;
	font-size:14px;
	font-weight:normal;
	font-stle:italic;
}

ul{
	list-style-type:none;
	margin-bottom:25px;
	padding:0px;
	text-align:center;
}

ul li{
	width:98%;
	height:30px;
	margin-bottom:8px;
	padding-top:11px;
	border:0px solid black;
	text-align:center;
	border-radius:5px;
	text-transform: uppercase;
	box-shadow:0px 5px 15px rgba(0,0,0,0.5);
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100;Yellow+3D+%231 */
background: rgb(246,230,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
	
}

ul li a{
	text-decoration: none;
	color:black;
}

#banner, article{
	width:100%;
	height:22px;
	overflow:hidden;
	margin-bottom:15px;
	border-bottom:1px dashed grey;
	transition:all 1s;
}

#banner:focus, article:focus{
	height:300px;
}


#banner #bannercontenedor h3, article .contienearticulo h3{
	background: url(../img/mano.jpg);
	background-repeat: no-repeat;
	padding-left: 25px;
	font-size:24px;
}


#contieneFormulario{
	padding:0px 20px;
}

form input,form textarea{
	font-size:22px;
}

#contieneFormulario #nombre,form #email,form textarea{
	border-radius:7px;
	box-shadow:0px 0px 15px rgba(0,0,0,0.3) inset;
	padding:5px;
	margin:auto;
	width:90%;
}

.formLeyenda{
	margin-top:10px;
	margin-left:5px;
}
#contactoEnviar{
	width:100px;
	margin:10px auto;
	display: block;
}

/* blog */

#imgblog1{
	background:url(../img/DSC_9140.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
	border:1px solid black;
}

#imgblog2{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}

#imgblog3{
	background:url(../img/DSC_9180.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}

#imgblog4{
	background:url(../img/DSC_9253.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}

#imgblog5{
	background:url(../img/DSC_9276.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}

#imgporta1{
	background:grey;
	background-size:100% 100%;
	width:50px;
	height:100px;
}
#imgporta2{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}

#imgporta3{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}

#imgporta4{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}

#imgporta5{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}
#imgporta6{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}
