/*@CHARSET "UTF-8";*/

@import url(https://fonts.googleapis.com/css?family=Merienda);

body, html{
  maring:0px;
  padding:0px;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0px;
	padding:0px;
}

h1{
	font-family: 'Merienda', cursive;
	font-size:24px;
	text-align:center;
}

h2{
	text-align: center;
	font-size:14px;
	font-weight:normal;
	font-stle:italic;
}