@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Merienda);

body {
	background: url(../img/fondo.png), #d1d1d1 ;
	background-repeat: repeat-x;
}

#contenedor{
  border: 1px dotted black;
  width:800px;
  margin:auto;
  padding:15px;
}

h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

h1,h2{
	margin:0;
	padding:0;
	margin-top:10px;
	padding-top:10px;
}

h1{
	font-family:'Merienda', cursive;
	color:white;
	text-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

h2{
	font-family:arial;
	font-style:italic;
	font-weight:normal;
	font-size:14px;
	position: relative;
	top:-20px;
	left:20px;
}


ul{
  list-style-type:none;
  margin:0px;
  padding:0px 0px 25px 0px;
 
}


nav ul li:hover{
	background:#e4e4e4;
}

nav ul li {
  float:left;
  padding:6px;
  margin:6px;
  border-right:1px dashed white;
  width:100px;
  text-align:center;
  transition: all 1s;
}

nav ul li a {
  text-decoration:none;
  color:white;
  text-align:center;
}

#banner{
  border: 0px solid black;
  width:100%;
  height:300px;
  background:url(../img/DSC_9153);
  background-size:100% 100%;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 0px 10px 25px rgba(0,0,0,1);
  
}

#bannercontenedor{
  padding:10px;
  background:rgba(255,255,255,0.4);
}

#banner #bannercontenedor p{
	font-size:10px;	
}

article{
  width:33%;
  float:left;
  text-align:justify;
}

.contienearticulo{
  padding:10px;
  height:200px;
  overflow:hidden;
}

#primerarticulo{
	margin-left:0;
}
#tercerarticulo{
	margin-right:0;
}


footer{
  height:30px;
  text-align:center;
  padding-top:30px;
  border:0px solid black;
}

#logo{
  margin-bottom:20px;
  margin-right:20px;
  height:100px;
  width:100px;
  background:url(../img/logo.png);
  background-size:100% 100%;
  float:left;
}

.imagendestacado{
  width:100%;
  height:100px;
  margin-bottom:10px;
  background-size:100% 100%;
  background:grey;
}

#img1{
	background:url(../img/imagen01.jpg);
	background-size:100% 100%;
}
#img2{
	background:url(../img/imagen02.jpg);
	background-size:100% 100%;
}#img3{
	background:url(../img/imagen03.jpg);
	background-size:100% 100%;
}

#contieneFormulario{
	box-shadow:0px 10px 20px rgba(0,0,0,0.3);
	background:white;
	padding:20px 20px;
}

#contieneFormulario form{
	border:1px dashed rgba(0,0,0,0.3);
	margin:auto;
	width:50%
}

form input,form textarea{
	font-size:22px;
}

#contieneFormulario #nombre,form #email,form textarea{
	box-shadow:0px 0px 15px rgba(0,0,0,0.3) inset;
	padding:5px;
	margin-left:15px;
	width:90%;
}

.formLeyenda{
	margin-top:10px;
	margin-left:15px;
}
#contactoEnviar{
	width:100px;
	margin:20px auto;
	padding:10px;
	display: block;
}

/* blog */

#contieneblog{
	background:white;
	box-shadow:0px 10px 25px rgba(0,0,0,0.3);
	padding:10px;
}

#articulos{
	width:66%;
	float:left;
}


#articulos article{
	width:100%;
	float:none;
	margin-bottom:40px;
}

aside{
	width:30%;
	height:100%;
	float:right;
	padding:10px;
	background:rgba(0,0,0,0.1);
}

#imgblog1{
	background:url(../img/DSC_9140.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}

#imgblog2{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}

#imgblog3{
	background:url(../img/DSC_9180.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}

#imgblog4{
	background:url(../img/DSC_9253.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}

#imgblog5{
	background:url(../img/DSC_9276.JPG);
	background-size:100% 100%;
	width:100%;
	height:200px;
}


/* productos*/



#contieneportafolio{
	background:white;
	box-shadow:0px 20px 20px rgba(0,0,0,0.4);
	width:99%;
	border: 0px solid red;
}

.contieneportafoliointerior{
	padding:0px;
	border: 0px solid green;
	float:left;
	width:49%;
}

.artportafolio{
	border:0px solid yellow;
	width:80%;
	padding:20px;
}


#imgporta1{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}
#imgporta2{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}

#imgporta3{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}

#imgporta4{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}

#imgporta5{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}
#imgporta6{
	background:url(../img/DSC_9153.JPG);
	background-size:100% 100%;
	width:200px;
	height:100px;
}

