@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Merienda);

body {
	background: url(../img/fondo.png), #d1d1d1 ;
	background-repeat: repeat-x;
}

#contenedor{
  border: 1px dotted black;
  width: 1865px;
  margin: auto;
  padding: 20px;
}

h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

h1,h2{
	margin:0;
	padding:0;
	margin-top:10px;
	padding-top:10px;
}

h1{
	font-family: 'Merienda', cursive;
	color:white;
	text-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

h2{
	font-family:arial;
	font-style:italic;
	font-weight:normal;
	font-size:14px;
	position: relative;
	top:-20px;
	left:20px;
}


ul{
  list-style-type:none;
  padding:0px;
  margin:0px;
}


nav ul li:hover{
	background:#e4e4e4;
}

nav ul li {
  float:left;
  padding:6px;
  margin:6px;
  border-right:1px dashed white;
  width:100px;
  text-align:center;
  transition: all 1s;
}

nav ul li a {
  text-decoration:none;
  color:white;
  text-align:center;
}

#banner{
  border: 0px solid black;
  width:50%;
  height:300px;
  background:url(../img/banner.JPG);
  background-size:100% 100%;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 0px 10px 25px rgba(0,0,0,1);
  float:left;
}

#bannercontenedor{
  padding:10px;
  background:rgba(255,255,255,0.4);
}

#banner #bannercontenedor p{
	font-size:10px;	
}

article{
  width:310px;
  float:left;
  text-align:justify;
}

.contienearticulo{
  padding:10px;
  height:200px;
  overflow:hidden;
  border:0px solid black;
}

#primerarticulo{
	margin-left:20px;
}
#tercerarticulo{
	margin-right:0;
}
footer{
  clear:both;
  height:30px;
  text-align:center;
  padding-top:30px;
  border:0px solid black;
}

#logo{
  margin-bottom:20px;
  margin-right:20px;
  height:100px;
  width:100px;
  background:url(../img/logo.png);
  background-size:100% 100%;
  float:left;
}

.imagendestacado{
  width:100%;
  height:100px;
  margin-bottom:10px;
  background-size:100% 100%;
  background:grey;
}

#img1{
	background:url(../img/imagen01.jpg);
	background-size:100% 100%;
}
#img2{
	background:url(../img/imagen02.jpg);
	background-size:100% 100%;
}#img3{
	background:url(../img/imagen03.jpg);
	background-size:100% 100%;
}

