@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Merienda);

body,html{
  width:100%;
  height:100%;
  margin:0px;
  padding:5px;
  overflow:hidden;
}
footer{
	clear:both;
}

#contenedor{
	width:100%;
	height:100%;
}

header{
	width:25%;
	height:100%;
	float:left;
	
}

section{
	height:100%;
	margin-left:25%;
	padding-right:10px;
	border:1px solid white;
	
}
h1,h2,h3,h4,h5,h6,p{
	margin:0px;
	padding:0px;
}

#logo{
  margin-bottom:20px;
  margin-right:20px;
  height:100px;
  width:100px;
  background:url(../img/logo.png);
  background-size:100% 100%;
  float:left;
}

#titulo{
	position:absolute;
	width:500px;
}

h1{
	font-family:'Merienda', cursive;
	color:#575757;
	text-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

h2{
	font-family:arial;
	font-style:italic;
	font-weight:normal;
	font-size:14px;
	position: relative;
	top:-5px;
	left:20px;
}


nav{
	margin-top:110px;
	width:95%;
	height:50%;
	box-shadow:-20px 0px 50px rgba(0,0,0,0.3) inset;
}

nav ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
}

nav ul li{
	widht:95%;
	height:40px;
	padding-top:20px;
	padding-left:15px;
	border-bottom:1px solid grey;
	text-transform: uppercase;
}

nav ul li a{
	text-decoration: none;
	font-size:18px;
	color:black;
}

#banner{
	margin-top:110px;
	margin-right:15px;
}

article{
	/*height:100px;*/
	margin-botom:15px;
}


.contienearticulo{
	margin-top:30px;
	margin-right:15px;
	border:2px solid black;

}

.imagendestacado{
	width:240px;
	height:80px;
	float:left;
	background:grey;
	margin-right:10px;
}

.contienearticulo h3, #bannercontenedor h3{
	padding-bottom:10px;
}


#img1{
	background:url(../img/imagen01.jpg);
	background-size:100% 100%;
}
#img2{
	background:url(../img/imagen02.jpg);
	background-size:100% 100%;
}#img3{
	background:url(../img/imagen03.jpg);
	background-size:100% 100%;
}


